<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoadForManualPOController</servlet-name>
        <servlet-class>com.impression.controller.LoadForManualPOController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPWController</servlet-name>
        <servlet-class>com.impression.controller.ResetPWController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.impression.controller.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceOrderController</servlet-name>
        <servlet-class>com.impression.controller.PlaceOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePdf</servlet-name>
        <servlet-class>com.impression.controller.SavePdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.impression.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.impression.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForTrackingController</servlet-name>
        <servlet-class>com.impression.controller.ForTrackingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExtracterController</servlet-name>
        <servlet-class>com.impression.extractpdf.ExtracterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewSaveController</servlet-name>
        <servlet-class>com.impression.extractlof.NewSaveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Get_tracking_data</servlet-name>
        <servlet-class>com.impression.controller.Get_tracking_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpUserController</servlet-name>
        <servlet-class>com.impression.controller.ImpUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmServlet</servlet-name>
        <servlet-class>com.impression.controller.ConfirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestAwController</servlet-name>
        <servlet-class>com.impression.controller.RequestAwController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLOFDetails</servlet-name>
        <servlet-class>com.impression.controller.EditLOFDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContentUpdateController</servlet-name>
        <servlet-class>com.impression.controller.ContentUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContentUpController</servlet-name>
        <servlet-class>com.impression.controller.ContentUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ORMSExtracter</servlet-name>
        <servlet-class>com.impression.extractpdf.ORMSExtracter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadLOF</servlet-name>
        <servlet-class>com.impression.controller.downloadLOF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadLOF</servlet-name>
        <servlet-class>com.impression.createlof.DownloadLOF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadPDF</servlet-name>
        <servlet-class>com.impression.report.DownloadPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveOrder</servlet-name>
        <servlet-class>com.impression.controller.SaveOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPassController</servlet-name>
        <servlet-class>com.impression.controller.CheckPassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreviewController</servlet-name>
        <servlet-class>com.impression.preview.PreviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Orderstatus</servlet-name>
        <servlet-class>com.impression.controller.Orderstatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TechnicalTeamController</servlet-name>
        <servlet-class>com.impression.controller.TechnicalTeamController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInController</servlet-name>
        <url-pattern>/SignInController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadArtworkController</servlet-name>
        <servlet-class>com.impression.controller.UploadArtworkController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadArtworkController</servlet-name>
        <url-pattern>/UploadArtworkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadForManualPOController</servlet-name>
        <url-pattern>/LoadForManualPOController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceOrderController</servlet-name>
        <url-pattern>/PlaceOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePdf</servlet-name>
        <url-pattern>/SavePdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForTrackingController</servlet-name>
        <url-pattern>/ForTrackingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExtracterController</servlet-name>
        <url-pattern>/ExtracterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPWController</servlet-name>
        <url-pattern>/ResetPWController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewSaveController</servlet-name>
        <url-pattern>/NewSaveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Get_tracking_data</servlet-name>
        <url-pattern>/Get_tracking_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpUserController</servlet-name>
        <url-pattern>/ImpUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmServlet</servlet-name>
        <url-pattern>/ConfirmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestAwController</servlet-name>
        <url-pattern>/RequestAwController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLOFDetails</servlet-name>
        <url-pattern>/EditLOFDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContentUpdateController</servlet-name>
        <url-pattern>/ContentUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContentUpController</servlet-name>
        <url-pattern>/ContentUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ORMSExtracter</servlet-name>
        <url-pattern>/ORMSExtracter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadLOF</servlet-name>
        <url-pattern>/downloadLOF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadLOF</servlet-name>
        <url-pattern>/DownloadLOF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadPDF</servlet-name>
        <url-pattern>/DownloadPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveOrder</servlet-name>
        <url-pattern>/SaveOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPassController</servlet-name>
        <url-pattern>/CheckPassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviewController</servlet-name>
        <url-pattern>/PreviewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Orderstatus</servlet-name>
        <url-pattern>/Orderstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TechnicalTeamController</servlet-name>
        <url-pattern>/TechnicalTeamController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>PDFExtracter
        </servlet-name>
        <servlet-class>com.impression.extractpdf.PDFExtracter
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInController</servlet-name>
        <servlet-class>com.impression.controller.SignInController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PDFExtracter</servlet-name>
        <url-pattern>/PDFExtracter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadServlet
        </servlet-name>
        <servlet-class>com.impression.extractlof.UploadServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InsertServlet
        </servlet-name>
        <servlet-class>com.impression.extractlof.InsertServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertServlet</servlet-name>
        <url-pattern>/Insert</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CSVServlet</servlet-name>
        <servlet-class>com.impression.controller.CSVServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CSVServlet</servlet-name>
        <url-pattern>/CSV</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GarmentController</servlet-name>
        <servlet-class>com.impression.controller.GarmentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GarmentController</servlet-name>
        <url-pattern>/GarmentController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateXls</servlet-name>
        <servlet-class>com.impression.controller.CreateXls</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateXls</servlet-name>
        <url-pattern>/CreateXls</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Email_send</servlet-name>
        <servlet-class>com.impression.controller.Email_send</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Email_send</servlet-name>
        <url-pattern>/Email</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/pageNotFound.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/nullPage.jsp</location>
    </error-page>
    <context-param>
        <param-name>username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>123</param-value>
    </context-param>
    <context-param>
        <param-name>loggers</param-name>
        <!--<param-value>C:/Users/oatta/OneDrive/Documents/NetBeansProjects/IEPTescoNew/src/java/com/impression/log4j</param-value>-->
        <param-value>D:\IEPTesco\IEPTescoNew\src\java\com\impression\log4j</param-value>
        <!--<param-value>/root/apache-tomcat-8.0.28/webapps/IEPTescoNew/src/java/com/impression/log4j/</param-value>-->
    </context-param>
    <context-param>
        <param-name>templates</param-name>
        <!--<param-value>C:\Users\oatta\Desktop\IEPTescoNew\web\preview\template\</param-value>-->
        <param-value>D:\IEPTesco\IEPTescoNew\web\preview\template\</param-value>
        <!--<param-value>/root/apache-tomcat-8.0.28/webapps/IEPTescoNew/preview/template/</param-value>-->
    </context-param>
    <context-param>
        <param-name>orders</param-name>
        <!--<param-value>C:\Users\oatta\Desktop\IEPTescoNew\web\preview\web\order\</param-value>-->
        <param-value>D:\IEPTesco\IEPTescoNew\web\preview\web\order\</param-value>
        <!--<param-value>/root/apache-tomcat-8.0.28/webapps/IEPTescoNew/preview/web/order/</param-value>-->
    </context-param>
    <context-param>
        <param-name>fonts</param-name>
        <!--<param-value>C:\Users\oatta\Desktop\IEPTescoNew\web\fonts\tesco\</param-value>-->
        <param-value>D:\IEPTesco\IEPTescoNew\web\fonts\tesco\</param-value>
        <!--<param-value>/root/apache-tomcat-8.0.28/webapps/IEPTescoNew/fonts/tesco/</param-value>-->
    </context-param>
    <context-param>
        <param-name>temp</param-name>
        <!--<param-value>C:\Users\oatta\Desktop\IEPTescoNew\web\PDF\</param-value>-->
        <param-value>D:\IEPTesco\IEPTescoNew\web\PDF\</param-value>
        <!--<param-value>/root/apache-tomcat-8.0.28/webapps/IEPTescoNew/PDF/</param-value>-->
    </context-param>
    <context-param>
        <param-name>docx</param-name>
        <!--<param-value>C:\Users\oatta\Desktop\IEPTescoNew\web\LOF\</param-value>-->
        <param-value>D:\IEPTesco\IEPTescoNew\web\LOF\</param-value>
        <!--<param-value>/root/apache-tomcat-8.0.28/webapps/IEPTescoNew/LOF/</param-value>-->
    </context-param>
    <context-param>
        <!--This is used to check uploaded artworks-->
        <param-name>artwork</param-name>
        <!--<param-value>C:\Users\oatta\Desktop\IEPTescoNew\web\artwork</param-value>-->
        <param-value>D:\IEPTesco\IEPTescoNew\web\artwork</param-value>
        <!--<param-value>/root/apache-tomcat-8.0.28/webapps/IEPTescoNew/artwork/</param-value>-->
    </context-param>
    <context-param>
        <!--This is the place that upload the wash symbol-->
        <param-name>symbols</param-name>
        <!--<param-value>C:\Users\oatta\Desktop\IEPTescoNew\web\img\symbols\</param-value>-->
        <param-value>D:\IEPTesco\IEPTescoNew\web\img\symbols\</param-value>
        <!--<param-value>/root/apache-tomcat-8.0.28/webapps/IEPTescoNew/img/symbols/</param-value>-->
    </context-param>
    <context-param>
        <!--This is the place that upload the artwork-->
        <param-name>artworksend</param-name>
        <!--<param-value>C:\Users\oatta\Desktop\IEPTescoNew\web\artwork\</param-value>-->
        <param-value>D:\IEPTesco\IEPTescoNew\web\artwork\</param-value>
        <!--<param-value>/root/apache-tomcat-8.0.28/webapps/IEPTescoNew/artwork/</param-value>-->
    </context-param>
    <context-param>
        <param-name>forgotw</param-name>
        <param-value>http://localhost:8080/IEPTescoNew/resetPage.jsp?method=resetpass</param-value>
        <!--<param-value>http://erp.impressionslabels.com/IEPTescoNew/resetPage.jsp?method=resetpass</param-value>-->
        <!--<param-value>http://eportal.impressionslabels.com/IEPTescoNew/resetPage.jsp?method=resetpass</param-value>-->
    </context-param>
    <context-param>
        <!--This is the place that upload the artwork-->
        <param-name>artwrokOther</param-name>
        <!--<param-value>C:\Users\oatta\Desktop\IEPTescoNew\TescoIEP\web</param-value>-->
        <param-value>D:\IEPTesco\IEPTescoNew\web</param-value>
        <!--<param-value>/root/apache-tomcat-8.0.28/webapps/IEPTescoNew/web</param-value>-->
    </context-param>
    <context-param>
        <!--This is the place that upload the artwork-->
        <param-name>artwrokConverted</param-name>
        <!--<param-value>C:\Users\oatta\Desktop\IEPTescoNew\web\artwork\pdf\</param-value>-->
        <param-value>D:\IEPTesco\IEPTescoNew\web\artwork\</param-value>
        <!--<param-value>/root/apache-tomcat-8.0.28/webapps/IEPTescoNew/artwork/pdf/</param-value>-->
    </context-param>
    <context-param>
        <param-name>washSymbol</param-name>
        <!--<param-value>C:\Users\oatta\Desktop\IEPTescoNew\web\img\sizeImage\</param-value>-->
        <param-value>D:\IEPTesco\IEPTescoNew\web\img\symbols\</param-value>
        <!--<param-value>/root/apache-tomcat-8.0.28/webapps/IEPTescoNew/img/sizeImage/</param-value>-->
    </context-param>
    <context-param>
        <param-name>users_img</param-name>
        <param-value>D:\IEPTesco\IEPTescoNew\web\img\TechUsers\</param-value>
    </context-param>
    <listener>
        <listener-class>com.impression.listener.GeneralListener</listener-class>
    </listener>
</web-app>
